body {
    background-color: #f1f1f1;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 500px;
  }

.image-div {
    background-color: #d3d3d3;
}

.status {
    padding: .5rem;
    border-radius: 1rem;
}

.all-problem-table td, th {
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

.my-problem-table td, th {
    text-align: center;
    vertical-align: middle;
    background-color: white;
}

.hidden-table td {
    text-align: left;
    vertical-align: middle;
    background-color: white;
}

.hidden-table {
    margin: 0;
}

.hidden-data {
    padding: 0 !important;
}

.accordion-collapse div {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
}


.filtered-row {
    display: none;
  }