.container select {
  width: 200px;
}

.container .btn-lg {
  background-color: #333;
  margin: 5px;
  color: white;
}
.container input {
  margin: 5px;
}
.container label {
  margin: 5px;
  font-weight: bold;
}

#specialistsToShow {
  width: 50%;
  height: 200px;
}

.row {
  margin-left: 2%;
  margin-right: 2%;
}

#assignedProblemTypes {
  width: 100%;
  margin-top: 10px;
  height: 320px;
}
